:root {
  --background-color: #000000;
  --background-image: url('../../images/backgrounds/');
  --text-color: #ffffff;
  --primary-color: #1a1a1a;
}

body {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s, background-image 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  z-index: 1;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  will-change: transform;
}

.nav-link {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-link:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

#game-grid,
#starred-grid,
#last-played-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
}

.game-card {
  background-color: var(--primary-color);
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  padding: 0;
}

.game-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

.game-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  transition: transform 0.3s ease;
}

.game-card:hover img {
  transform: scale(1.05, 1);
}

.game-card p {
  margin: 0;
  padding: 8px;
  font-size: 0.875rem;
  color: var(--text-color);
  background-color: var(--primary-color);
  border-radius: 0 0 15px 15px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-right: 30px;
  word-wrap: break-word;
}

.favorite-star {
  display: none !important;
}

.content {
  position: relative;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-bar {
  background-color: rgba(17, 24, 39, 0.9);
}

.glow-text {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.884), 0 0 20px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.2);
}

@keyframes appear {
  from { opacity: 0; }
  to { opacity: 1; }
}

.typing-effect span {
  opacity: 0;
  animation: appear 0.5s forwards;
  color: var(--text-color);
}

.typing-effect span:nth-child(1) { animation-delay: 0s; }
.typing-effect span:nth-child(2) { animation-delay: 0.2s; }
.typing-effect span:nth-child(3) { animation-delay: 0.4s; }
.typing-effect span:nth-child(4) { animation-delay: 0.6s; }
.typing-effect span:nth-child(5) { animation-delay: 0.8s; }
.typing-effect span:nth-child(6) { animation-delay: 1s; }
.typing-effect span:nth-child(7) { animation-delay: 1.2s; }
.typing-effect span:nth-child(8) { animation-delay: 1.4s; }

.theme-text {
  color: var(--text-color);
}

.footer-text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1rem;
  z-index: 10;
}

@keyframes rainbow {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  57% { color: blue; }
  71% { color: indigo; }
  85% { color: violet; }
  100% { color: red; }
}

.rainbow-text {
  animation: rainbow 5s linear infinite;
}

.search-container {
  position: relative;
  width: 600px;
  margin: 20px auto;
}

.search-container input {
  width: 100%;
  padding: 15px 40px 15px 20px;
  border: 2px solid rgb(82, 82, 82);
  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 200px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-container input:hover {
  box-shadow: 0 0 15px 2px rgb(0, 0, 0);
}

.search-container input:focus {
  outline: none; 
  border-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(66, 153, 225, 0.6);
}

.search-container .fa-search {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: white;
}

.starred-section {
  margin-bottom: 20px;
}

.starred-section h2 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--text-color);
}

.save-load-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.save-load-buttons button {
  padding: 10px 20px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.save-load-buttons button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transform: translateY(-2px);
}

#notification-container {
  position: fixed;
  top: 100px;
  right: 20px;
  z-index: 1000;
}

.notification {
  position: relative;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  animation: slideIn 1s ease-out;
  overflow: hidden;
  min-width: 250px;
  font-size: 1rem;
}

.notification .close-btn {
  position: absolute;
  top: 4px;
  right: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url('images/website icons/close.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: 0;
}

.notification .timer-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: var(--text-color);
  width: 100%;
  animation: timer 4s linear forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes timer {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@media (max-width: 768px) {
  #game-grid,
  #starred-grid,
  #last-played-grid {
    grid-template-columns: repeat(3, minmax(60px, 1fr));
    padding: 10px;
  }

  /* Reducing only horizontal gap using column-gap */
  #game-grid,
  #starred-grid,
  #last-played-grid {
    column-gap: 5px; /* Reduce horizontal gap */
    row-gap: 10px;   /* Keep the row gap slightly larger */
  }

  .game-card {
    width: 100%;
    height: auto;
    max-width: 120px;
    padding: 0;
  }

  .game-card img {
    height: 100px;
    width: 100%;
    border-radius: 15px 15px 0 0;
  }

  .game-card p {
    display: block;
    font-size: 0.75rem;
    text-align: left;
    padding: 5px;
    margin: 0;
    background-color: var(--primary-color);
    border-radius: 0 0 15px 15px;
    flex-grow: 1;
    padding-right: 30px;
    word-wrap: break-word;
  }

  .starred-section h2,
  .typing-effect {
    font-size: 2.5rem;
  }

  .search-container {
    width: 90%;
  }

  .save-load-buttons {
    flex-direction: column;
    align-items: center;
  }

  .save-load-buttons button {
    width: 100%;
    margin-bottom: 10px;
  }

  .notification {
    min-width: 200px;
    font-size: 0.875rem;
  }

  #starred-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(60px, 1fr));
    column-gap: 5px; /* Reduced horizontal gap */
    row-gap: 10px;   /* Vertical gap */
    padding: 10px;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
  }

  .starred-section h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
  }

  #empty-favorites-message {
    text-align: center;
    font-size: 1.2rem;
  }
}

